(
    palette: Dark((
        name: "Osaka-Jade",
        blue: (
            red: 0.30196078,
            green: 0.67843137,
            blue: 0.49803922,
            alpha: 1.0,
        ),
        red: (
            red: 1.00000000,
            green: 0.41960784,
            blue: 0.41960784,
            alpha: 1.0,
        ),
        green: (
            red: 0.24313725,
            green: 0.81176471,
            blue: 0.55686275,
            alpha: 1.0,
        ),
        yellow: (
            red: 1.00000000,
            green: 0.81960784,
            blue: 0.40000000,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.04313725,
            green: 0.07450980,
            blue: 0.07843137,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.02745098,
            green: 0.05098039,
            blue: 0.05490196,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.10196078,
            green: 0.13725490,
            blue: 0.14117647,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.01568627,
            green: 0.03137255,
            blue: 0.03529412,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.02745098,
            green: 0.05098039,
            blue: 0.05490196,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.04313725,
            green: 0.07450980,
            blue: 0.07843137,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.10196078,
            green: 0.13725490,
            blue: 0.14117647,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.14901961,
            green: 0.22352941,
            blue: 0.23529412,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.22352941,
            green: 0.31764706,
            blue: 0.33333333,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.31372549,
            green: 0.41960784,
            blue: 0.43529412,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.41568627,
            green: 0.52549020,
            blue: 0.54509804,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.52549020,
            green: 0.63529412,
            blue: 0.65490196,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.65098039,
            green: 0.75294118,
            blue: 0.77254902,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.78431373,
            green: 0.95294118,
            blue: 0.89411765,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.32156863,
            green: 0.87843137,
            blue: 0.62745098,
            alpha: 1.0,
        ),
        bright_red: (
            red: 1.00000000,
            green: 0.52941176,
            blue: 0.52941176,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 1.00000000,
            green: 0.87843137,
            blue: 0.40000000,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.41568627,
            green: 0.52549020,
            blue: 0.54509804,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 1.00000000,
            green: 0.59607843,
            blue: 0.34117647,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 1.00000000,
            green: 0.87843137,
            blue: 0.40000000,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.39215686,
            green: 0.82745098,
            blue: 0.88627451,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.78431373,
            green: 0.54509804,
            blue: 0.75686275,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.91764706,
            green: 0.59607843,
            blue: 0.89019608,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.46274510,
            green: 0.75294118,
            blue: 0.89019608,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.30196078,
            green: 0.67843137,
            blue: 0.49803922,
            alpha: 1.0,
        ),
        accent_red: (
            red: 1.00000000,
            green: 0.41960784,
            blue: 0.41960784,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.24313725,
            green: 0.81176471,
            blue: 0.55686275,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.41568627,
            green: 0.52549020,
            blue: 0.54509804,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 1.00000000,
            green: 0.59607843,
            blue: 0.34117647,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 1.00000000,
            green: 0.87843137,
            blue: 0.40000000,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.78431373,
            green: 0.54509804,
            blue: 0.75686275,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.91764706,
            green: 0.59607843,
            blue: 0.89019608,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.46274510,
            green: 0.75294118,
            blue: 0.89019608,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    bg_color: Some((
        red: 0.04313725,
        green: 0.07450980,
        blue: 0.07843137,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.78431373,
        green: 0.95294118,
        blue: 0.89411765,
        alpha: 1.0,
    )),
    accent: Some((
        red: 0.24313725,
        green: 0.81176471,
        blue: 0.55686275,
        alpha: 1.0,
    )),
    success: Some((
        red: 0.24313725,
        green: 0.81176471,
        blue: 0.55686275,
        alpha: 1.0,
    )),
    warning: Some((
        red: 1.00000000,
        green: 0.81960784,
        blue: 0.40000000,
        alpha: 1.0,
    )),
    destructive: Some((
        red: 1.00000000,
        green: 0.41960784,
        blue: 0.41960784,
        alpha: 1.0,
    )),
    window_hint: Some((
        red: 0.24313725,
        green: 0.81176471,
        blue: 0.55686275,
        alpha: 1.0,
    )),
    neutral_tint: Some((
        red: 0.41568627,
        green: 0.52549020,
        blue: 0.54509804,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.10196078,
        green: 0.13725490,
        blue: 0.14117647,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.14901961,
        green: 0.22352941,
        blue: 0.23529412,
        alpha: 1.0,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
)





