# Amethyst configuration
# https://github.com/ianyh/Amethyst

mod1: option
mod2: control

layouts:
  - tall
  - wide
  - fullscreen
  - floating

mouse-follows-focus: false
focus-follows-mouse: false
